@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";

* {
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

/* header section starts here */

nav.primary-navbar {
  max-width: 80%;
}

/* header Media Queries section starts here */

@media screen and (max-width: 576px) {
  nav.primary-navbar {
    max-width: 100%;
  }
}
/* header Media Queries section ends here */

/* header section ends here */

/* all courses section starts here */
div.course-details {
  background-color: #212121;
}

div.student-card-icons {
  top: -20px;
  left: 11%;
  padding: 10px 14px;
}

div.details {
  font-size: 14px;
  min-height: 223px;
}

div.learn-more-btn button {
  border: 1px solid #f8da64;
}

div.learn-more-btn button:hover {
  background: #f8da64;
}

div.learn-more-btn a {
  color: #f8da64;
  font-size: 15px;
}

div.learn-more-btn button:hover a {
  color: #000;
}

div.popular-courses-dropdown-container select.popular-courses-dropdown {
  max-width: 90%;
  margin: auto;
  color: #fff;
}

div.popular-courses-dropdown-container
  select.popular-courses-dropdown.form-select {
  --bs-form-select-bg-img: url(../assets/select-expand-arrow.png);
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 18px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* all courses Media Queries section starts here */

/* @media screen and (max-width: 576px) {
  div.student-card-icons {
    top: -25px;
    left: 25%;
    padding: 10px 14px;
  }
} */
/* all courses Media Queries section ends here */

/* all courses section ends here */

/* front end course section starts here */

div.fe-course-container {
  background-color: #212121;
}

div.enroll-now-btn button {
  color: #f8da64;
  font-size: 17px;
  padding: 11px 24px;
  border: 1px solid #f8da64;
}

div.enroll-now-btn button:hover {
  background: #f8da64;
  color: #000;
}

/* Modal Form section starts here */
div.modal-form-container {
  background-color: #212121;
}

div.modal-form-container form label {
  font-size: 15px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
div.modal-form-container textarea::placeholder {
  color: #545353;
}

div.modal-form-container form input,
div.modal-form-container form input:focus {
  background-color: #212121;
  color: #fff;
  border: 0;
  border-bottom: 1px solid white;
  /* width: 94%; */
  padding: 4px;
  padding-left: 0;
  border-radius: 0;
}

div.modal-form-container form textarea,
div.modal-form-container form textarea:focus {
  background-color: #212121;
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 3px;
  color: #fff;
  border-radius: 0;
}

div.modal-form-container form select {
  background-color: #212121;
  color: #545353;
  border: 0;
  border-bottom: 1px solid #fff;
  /* width: 95%; */
  padding: 4px;
  border-radius: 0;
}

div.modal-form-container form select#course {
  color: #fff;
}

div.modal-form-container form select:focus {
  color: #fff;
}

button.btn-register {
  border: 1px solid #f8da64;
  color: #f8da64;
  padding: 8px 120px;
  border-radius: 30px;
}

button.btn-register:hover {
  border: 1px solid #f8da64;
  color: #f8da64;
}

button.modal-close-btn {
  background-color: #212121;
}
/* Modal Form section ends here */

section.fe-course-section p {
  font-size: 14px;
}

ul.course-content-list li {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 25px;
}

ul.course-content-list {
  /* min-width: 70px; */
  margin-left: 30px;
}

ul.course-content-list li span {
  font-weight: 600;
  font-size: 14px;
}

div.cpa-card {
  background-color: #3442d9;
}

/* ul.cpa-list {
  min-height: 188px;
} */

ul.cpa-list li {
  margin-top: 22px;
}

div.explore-other-courses-links a {
  color: #f8da63;
  font-size: 19px;
}

/* front end Media Queries section starts here */

@media screen and (min-width: 1200px) {
  ul.cpa-list {
    min-height: 188px;
  }
}
/* front end Media Queries section ends here */

/* front end course section ends here */

/* footer section starts here */

footer.footer-section {
  background-image: url("../assets/footer-bg.cc00989cacc2122a.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.contact-info p,
div.contact-info a {
  color: #0b7077;
  text-decoration: none;
}

/* Footer Media Queries section starts here */

@media screen and (max-width: 576px) {
  footer.footer-section {
    background-position-x: center;
  }
}
/* Footer Media Queries section ends here */

/* footer section ends here */
