@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";

body {
  background-color: #161616;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

/* header section starts here */

a.active-link,
a.active-link:hover {
  color: #f8da64;
}

nav.primary-navbar {
  max-width: 80%;
}

/* header Media Queries section starts here */

@media screen and (max-width: 576px) {
  nav.primary-navbar {
    max-width: 100%;
  }
}
/* header Media Queries section ends here */

/* header section ends here */

/* Guidance title section starts here */

section.guidance-title-section {
  background-image: url("../assets/carrer-page-bg.f90597aae995a987.svg");
}

span.guidance-yellow-line {
  width: 60px;
  display: inline-block;
  height: 2px;
  background: #f8da64;
}
/* Guidance title section ends here */

/* Queries and form section starts here */

/* queries section starts here */

div.queries-inner-container {
  background-color: #212121;
}

span.query-icon {
  background-color: #d2e6e4;
  padding: 10px;
  border-radius: 50%;
  min-width: 42px;
}

div.answer-and-like-container {
  background-color: #000;
}

div.answer-and-like-container p.answer-container {
  border-left: 3px solid #3caa56;
}

/* queries section starts here */

/* Form section starts here */
div.form-container {
  background-color: #212121;
}

div.form-container form p:nth-child(odd) {
  margin-bottom: 5px;
}

div.form-container form label {
  font-size: 15px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
div.form-container form textarea::placeholder {
  color: #545353;
}

div.form-container form input {
  background-color: #212121;
  color: #fff;
  border: 0;
  border-bottom: 1px solid white;
  width: 94%;
  padding: 4px;
  padding-left: 0;
  border-radius: 0;
}

div.form-container form input:focus {
  background-color: #212121;
  color: #fff;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
}

div.form-container form input[type="month"] {
  color: #fff;
  padding-left: 0;
  padding: 3px;
}

div.form-container form textarea {
  background-color: #212121;
  border: 0;
  border-bottom: 1px solid #fff;
  resize: vertical;
  padding: 3px;
  color: #fff;
  border-radius: 0;
  max-width: 94%;
}

div.form-container form textarea:focus {
  background-color: #212121;
  color: #fff;
}

div.form-container form select {
  background-color: #212121;
  color: #545353;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 95%;
  padding: 2px;
  border-radius: 0;
  max-width: 94%;
}

div.form-container form select:focus {
  color: #fff;
}

button.send-btn {
  border: 1px solid #f8da64;
  color: #f8da64;
  padding: 6px 52px;
  border-radius: 30px;
}

button.send-btn:hover {
  border: 1px solid #f8da64;
  color: #f8da64;
}

/* Form Media Queries section starts here */

@media screen and (max-width: 576px) {
  section.guidance-title-section {
    background-position-x: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  div.gform-inner-container {
    max-width: 75%;
    margin: auto;
  }
}
/* Form Media Queries section ends here */
/* Form section ends here */

/* Queries and form section ends here */

/* footer section starts here */

footer.footer-section {
  background-image: url("../assets/footer-bg.cc00989cacc2122a.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.contact-info p,
div.contact-info a {
  color: #0b7077;
  text-decoration: none;
}

/* Footer Media Queries section starts here */

@media screen and (max-width: 576px) {
  footer.footer-section {
    background-position-x: center;
  }
}
/* Footer Media Queries section ends here */

/* footer section ends here */
